<div class="app-holder">
<nav>
    <a href="/">Upload</a>
    <a href="/files">File Manager</a>
</nav>
<main class="file-uploader">
    <h1>Nie ma takiego pliku</h1>
    <a href="/files" style="color: white;">Powrót do listy</a>
</main>
</div>